# Sample .travis.yml for R projects from https://github.com/craigcitro/r-travis

language: c

before_install:
  - curl -OL http://raw.github.com/craigcitro/r-travis/master/scripts/travis-tool.sh
  - chmod 755 ./travis-tool.sh
  - ./travis-tool.sh bootstrap

install:
  - ./travis-tool.sh install_deps
  - ./travis-tool.sh install_r_binary rJava
  - ./travis-tool.sh install_github OHDSI/Cyclops
  - ./travis-tool.sh install_github OHDSI/SqlRender
  - ./travis-tool.sh install_github OHDSI/DatabaseConnector
  - ./travis-tool.sh install_github OHDSI/OhdsiRTools
  - ./travis-tool.sh install_github OHDSI/PatientLevelPrediction
  - ./travis-tool.sh install_github jimhester/covr

script: ./travis-tool.sh run_tests

on_failure:
  - ./travis-tool.sh dump_logs

notifications:
  recipients:
    - msuchard@gmail.com
    - schuemie@ohdsi.org
  email:
    on_success: change
    on_failure: change

after_success:
  - Rscript -e 'library(covr);codecov()'
